
<!doctype html>
<html lang="es">

<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../statics/principal.css">

    <title>Hello, world!</title>
</head>

<body>

    <div class="botones">
        <h2>Quieres agragar o quitar puntos?</h2>
        <div class="ptscasa" id="puntos"></div>
        <button class="btn" id="sumar" >+</button>
        <button class="btn" id="restar" >-</button>
        
    </div>
    
    <script src="../dynamics/puntos.js"></script>
</body>

</html>