.body{
    background-color: rgb(255, 190, 230);
}
.botones{
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#sumar{
    background-color: rgb(255, 246, 73);
    border: none;
      position: absolute;
      left: 18%;
    border-width:50rem;
    border-left:50rem;
}



#restar{
    background-color: rgb(56, 95, 255);
    border: none;
    position: absolute;
    left: 80%;
    border-width:50rem;
    border-left:50rem;

}
button{
    
    padding: auto;
    top: 5rem;
    transform: scale(250%);
    cursor: pointer;
}